@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' sans-serif;
}

/* Header */

header {
    background-color: #1f2937;
    padding: 1em 13em
}

/* Nav Bar */

.navbar{
    display: flex;
    justify-content: space-between;
    
}

.left{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.right {
    font-size: 18px;
    color: #e5e7eb;
}

a, a:visited, a:hover, a:active {
    list-style: none; 
    text-decoration: none;
}

.menu, a:visited, a:hover, a:active {
    color: #e5e7eb;
    list-style: none;
    display: flex;
    gap: 1.5em;
}

/* Hero Section */

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.hero-h {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 1.2em 0;
    
}

button {
    background-color: #3882F6;
    padding: 7px 1em;
    width: 120px;
    border-radius: 8px;
    color: #e5e7eb;
    border-style: solid;
    border-color: #E5E7EB;
}


/* Random Information Section */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    padding: 0 10em;
    flex-direction: column;
    text-align: justify;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15em 10em;
}

.square {
    display: flex;
    border-radius: 25px;
    border-style: solid;
    border-color: #3882F6;
    height: 210px;
    width: 210px;
}

/* Testimonial */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}

em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quote p    {
    display: flex;
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

/* Call To Action */
.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.btnstyle {
    border-style: solid;
    border-color: #E5E7EB;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 3em;
    font-size: 20px;
 }